<%- include('partials/header.ejs'); -%>
<!-- Top controls: switch active user or create/rename users -->
<div class="controls">
  <form action="/user" method="post" class="item switch">
    <select name="user">
      <% for (const user of users) { %>
        <option value="<%= user.id %>" <%= user.id === currentUserId ? "selected" : "" %>>
          <%= user.name %>
        </option>
      <% } %>
    </select>
    <button type="submit">Switch</button>
    <button type="submit" name="add" value="new">New User</button>
  </form>

  <form action="/user/update" method="post" class="item rename">
    <input type="hidden" name="userId" value="<%= currentUserId %>">
    <input type="text" name="newName" placeholder="Rename current user" required>
    <button type="submit">Rename</button>
  </form>
</div>

  <div class="box" id="heading">
    <h1>
      <%= listTitle %>
    </h1>
  </div>
  <!-- Task list -->
  <div class="box">
    <% for(let item of listItems){%>
      <div class="item">
        <form action="/delete" method="post">
          <input type="checkbox" onchange="this.form.submit()" name="deleteItemId" value="<%= item.id %>">
        </form>

        <p id="title<%=item.id%>">
          <%= item.title %>
        </p>

        <form class="edit" action="/edit" method="post">
          <input type="hidden" name="updatedItemId" value="<%= item.id %>">
          <input id="input<%=item.id%>" type="text" name="updatedItemTitle" value="<%= item.title %>" autocomplete="off"
            autofocus="true" hidden="true" />
          <button id="done<%=item.id%>" class="edit" type="submit" hidden><img class="icon"
              src="/assets/icons/check-solid.svg" alt="tick image"></button>
        </form>
        <button id="edit<%=item.id%>" class="edit" onclick="handler('<%=item.id%>')"><img class="icon"
            src="/assets/icons/pencil-solid.svg" alt="pencil image"></button>
      </div>
      <% } %>

        <!-- Add new item -->
        <form class="item" action="/add" method="post">
          <input type="text" name="newItem" placeholder="New Item" autocomplete="off" autofocus="true" />
          <button class="add" type="submit" name="list" value=<%=listTitle %> >+</button>
        </form>
  </div>

  <script>
    function handler(id) {
      document.getElementById("title" + id).setAttribute("hidden", true)
      document.getElementById("edit" + id).setAttribute("hidden", true)
      document.getElementById("done" + id).removeAttribute("hidden")
      document.getElementById("input" + id).removeAttribute("hidden")
    }
  </script>
  <%- include('partials/footer.ejs'); -%>
